@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=League+Spartan&display=swap");
// Fonts
$font-family: "League Spartan", sans-serif;
$font-weight-500: 500;
$font-weight-700: 700;
